asgiref
certifi
charset-normalizer
Django
django-cors-headers
django-paypal
djangorestframework
djangorestframework_simplejwt
idna
pillow
PyJWT
pytz
requests
sqlparse
stripe
typing_extensions
urllib3
